apiVersion: v1
kind: Service
metadata:
  name: nginx-nodeport
  labels:
    app: nginx-web
    service-type: nodeport
spec:
  type: NodePort
  selector:
    app: nginx-web
    tier: frontend
  ports:
  - name: http
    port: 80
    targetPort: 80
    nodePort: 30080
    protocol: TCP
  sessionAffinity: None